.Vivo{color:#FFF; background: rgb(85, 204, 68); border-radius: 10px; padding: 0px 14px;}

.Morto{ color:#FFF; background: rgb(214, 61, 46); border-radius: 10px; padding: 0px 14px;}

.Desconhecido{ color:#FFF; background: #A4A4A4; border-radius: 10px; padding: 0px 14px;}