<div class="d-block m-auto w-4/5 2xl:w-[1360px]">
    <div class="flex flex-wrap justify-between items-center my-8">
        <h1 class="creepster-regular">Início</h1>
        <span><input type="text" class="searchInput" placeholder="Pesquisar" [(ngModel)]="searchInput" (ngModelChange)="getCharacterByName($event)"/></span>
    </div>

           
    <app-card class="flex flex-wrap gap-x-[53px] gap-y-7 " [characters]="characters" *ngIf="characters"></app-card>
    
    <div class="bg-black w-100 rounded-xl p-52" *ngIf="characters.length == 0"> 
        <h2 class="text-white text-center text-2xl mb-4">Nada foi encontrado</h2>
        <p class="text-gray-350 text-center text-lg">Tente realizar uma nova busca.</p>
    </div>
</div>