.mat-mdc-card .mat-icon{
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 12px;
    color:white;
}

.mat-mdc-card .mat-icon:hover{
    cursor: pointer;
    color: black!important;
}

.searchInput{
    background-color: transparent;
    color: #F2F2F2;
    border: 1px solid #5D5D5D;
    border-radius: 10px;
    padding: 10px;
}
