/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #1F1F1F;
}

@layer utilities {
  .creepster-regular {
    @apply font-creepster font-creepster-size text-creepster-color text-creepster-stroke;
  }

  .font-creepster {
    font-family: "Creepster", system-ui;
  }

  .font-creepster-size{
    font-size: 48px;
  }

  .text-creepster-color {
    color: #00b5cc;
  }

  .text-creepster-stroke {
    -webkit-text-stroke: 2px #b2df28; /* width and color */
  }
}



html, body { height: 100%; }
body { margin: 0; font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal; }

.mat-mdc-card .mat-icon{
    position: absolute;
    z-index: 1;
    right: 12px;
    top: 12px;
    color:white;
}

.mat-mdc-card .mat-icon:hover{
    cursor: pointer;
    color: black!important;
}
